.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.login-title {
  font-size: 28px;
  font-weight: bold;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


button:hover {
  background-color: #0056b3; /* Darker blue on hover for login button */
}

.error-message {
  color: red;
  margin-top: 10px;
}


.login-button {
  padding: 10px 15px;
  background-color: #007bff; /* Blue color for login button */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3; /* Darker blue on hover for login button */
}

.register-button {
  padding: 10px 15px;
  background-color: #ccc; /* Gray color for register button */
  color: #000; /* Black text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.register-button:hover {
  background-color: #bbb; /* Lighter gray on hover for register button */
}